body {
    display: flex;
    width: 100%;
}


#minimap {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 120px;

    height: 40%;
    border: 2px solid #733FED;
    background: rgba(255, 255, 255, 0.9);

    overflow: hidden;
    border-radius: 8px;
    z-index: 999;
    transition: all 0.3s ease;
}

#minimap:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
    /* Slight enlargement on hover */
}

#minimap-viewport {
    position: absolute;
    width: 100%;
    height: 20%;
    background: rgba(115, 63, 237, 0.7);
    /* Slightly darker for contrast */
    border-radius: 4px;
    /* Rounded corners for a consistent look */
    transition: top 0.3s ease;
    /* Smooth movement transition */
    cursor: grab;
    /* Indicate draggable */
}

#minimap-viewport:active {
    cursor: grabbing;
    /* Change cursor while dragging */
    background: rgba(115, 63, 237, 0.9);
    /* Darker shade while dragging */
}


#minimap-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* BLOG ELEMENTS */
#blogContainer {
    flex-grow: 1;
    overflow-y: scroll;
    width: 20%;
    height: 100vh;
    padding: 20px;
    padding-left: 15vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    margin-bottom: 40px;
    width: 30vw;
    padding: 20px;
    border: 2px solid #733FED;
    border-radius: 5px;
    background-color: white;


    display: flex;
    flex-direction: column;
    align-items: center;

}

.post img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Basic reset */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}


/* TEXT FROM STYLE.CSS*/

h1 {
    font-family: "puffin-arcade-nerf", sans-serif;
    font-weight: 800;
    line-height: 5vh;
    font-size: 5vh;
    font-style: normal;
    color: #733FED;
}

h2 {
    font-family: "logic-monospace", mono;
    font-weight: 400;
    font-style: normal;
    font-size: 2vh;
    color: #733FED;
}

p {
    font-family: "darkmode-on", sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
}


/* Customization Panel */
#customization-panel {
    width: 15vw;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    stroke: #733FED;
    box-shadow: 2px 0 5px #733FED;


    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}

/* Nav button options*/
.rect {
    width: 100%;
    height: 5vh;
    background-color: #733FED;
}

#contents {
    padding: 10px;
    width: 90%;
    height: 100vh;
    overflow-y: auto;
    z-index: 10;
}

.bar:hover h2 {
    color: white;
}

.bar {
    width: 100%;
    height: 5vh;
    background-color: #f4f4f4;
    box-sizing: border-box;
    text-align: center;

    padding-left: 5%;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-top: 2px solid #733FED;
    color: #f4f4f4;
    cursor: pointer;
    /* Make the cursor a hand on hover */
}

.bar:last-child {
    border-bottom: 2px solid #733FED;
    margin-top: -2px;
}

.bar:hover {
    color: #f4f4f4;
    background-color: #733FED;

}


.bar:hover span {
    color: #f4f4f4;
    /* Ensure the text inside spans changes color */
}


/* Remove default styles from <a> */
a {
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.icon {
    height: 10vh;
    margin-top: 10%;
    margin-bottom: -5%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container {
    position: relative;
}

.hover-image {
    position: absolute;
    pointer-events: none;
    transform: translate(-100%, -100%);
    display: none;
}


/* BLOG */

.description {
    width: 45%;
    height: 50%;
    /* border: 2px solid #733FED; */
}


.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}