/* Basic reset */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* TEXT */

h1 {
    font-family: "puffin-arcade-nerf", sans-serif;
    font-weight: 800;
    line-height: 5vh;
    font-size: 5vh;
    font-style: normal;
    color: #733FED;
}

h2 {
    font-family: "logic-monospace", mono;
    font-weight: 400;
    font-style: normal;
    font-size: 2vh;
    color: #733FED;
}

p {
    font-family: "darkmode-on", sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
}


/* Canvas (Main Pattern Area) */
#pattern-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Drop Zone */
#drop-zone {
    width: 200px;
    height: 200px;
    border: 2px dashed #733FED;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 5;
}

/* Customization Panel */

.icon {
    height: 10vh;
    margin-top: 10%;
    margin-bottom: -5%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#customization-panel {
    width: 15vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    stroke: #733FED;
    box-shadow: 2px 0 5px #733FED;
    overflow-y: auto;
    z-index: 10;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}

/* Nav button options*/
.rect {
    width: 100%;
    height: 5vh;
    background-color: #733FED;
}

.bar {
    width: 100%;
    height: 5vh;
    background-color: #f4f4f4;
    box-sizing: border-box;
    padding-left: 5%;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-top: 2px solid #733FED;
    color: #f4f4f4;
    cursor: pointer;
    /* Make the cursor a hand on hover */
}

.bar:last-child {
    border-bottom: 2px solid #733FED;
    margin-top: -2px;
}

.bar:hover {

    color: #f4f4f4;
    background-color: #733FED;

}


.bar:hover span {
    color: #f4f4f4;
    /* Ensure the text inside spans changes color */
}


/* Remove default styles from <a> */
a {
    text-decoration: none;
    color: inherit;
    width: 100%;
}



/* BLOG */

.blog {
    position: absolute;
    left: 15vw;
    padding: 20vh;
    padding-top: 0px;

    /* border: 2px solid #733FED; */
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tumb {
    display: flex;
    flex-direction: row;
    gap: 2vh;
    align-items: flex-start;
}

.description {
    padding-left: 5%;
    /* border: 2px solid #733FED; */
}


/* OLD BLOG CSS */
/* .posts {
    width: 30%;
    height: 80%;
    border: 2px solid #733FED;
    border-radius: 1vw;
    padding: 10px;
}

.posts img {
    width: 100%;
    height: 90%;
    object-fit: cover;
} */

/* DRAWING BOARD*/
.pattern-grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: -1;
}

#drawing-container {
    position: absolute;
    top: 47%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border: 2px dashed #733FED;
    background: white;
}

#drawCanvas {
    width: 100%;
    height: 100%;
    display: block;
}